* {
	font-family:	consolas;

	padding:		0;
	margin:			0;
}

html, body {
	height:			100%;
	width:			100%;
}

#container {
	float:			left;
	height:			100%;
	width:			100%;

	overflow:		none;
}

#viewport {
	display: 		none;
}

svg {
	float:			left;

	width:			100%;
	height:			100%;
}

svg rect {
	stroke:			#555;
	stroke-width:	1px;
	fill:			#EFEFEF;
}

svg circle {
	fill:			none;
}

svg circle.circle-marker {
	stroke:			#555;
	stroke-width:	0.5px;
}

#legend {

	width: 			250px;
	height:			100%;

	position:		fixed;
	right: 			0;

	background:		rgba(100,100,100,0.4);

	color:			#444;
}

#legend h2 {
	margin:			30px 10px;
}

#legend .info {
	margin:			20px 10px;

	font-size:		18px;
	height:			18px;

	position:		relative;
}

#legend #info-proto.info {
	visibility: 	hidden;
}

#legend .info .image {
	width:			16px;
	height:			16px;

	margin:			2px;

	display: 		inline-block;

	border:			2px solid #999;
}

#legend .info span {
	position:		absolute;

	left:			30px;
	top:			1px;
}

#legend .info {
	cursor:			pointer;
}

#legend #show-all {

	display:		none;

	float:			right;
	margin-right:	20px;

	cursor:			pointer;

	color:			blue;
}

#show-all:hover {
	text-decoration: 	underline;
}

#legend hr {
	margin:			60px 0 30px 0;
}

.start {
	background:		#00AEEF;
	fill:			#00AEEF;
}
.monster {
	background:		#EF4100;
	fill:			#EF4100;
}
.current {
	background:		#37EF00;
	fill:			#37EF00;
}

#legend .info .image.circle {
	border-radius: 	10px;
}